body {
	background-image: url("../images/background.jpg");
}

.jumbotron {
	background-image: url("../images/trivia2.jpg");
	height: 200px;
}

.choice {
	margin-right: 25px;
}

#display {
	font-family: monospace;
	font-size: 40px;
	color: red;
	text-align: center;
	background: black;
	width: 150px;
}

#start {
	height: 50px;
	background: #424241;
	color: #ffffff;
}

.panel-heading {
	background: #424241 !important;
	color: #ffffff !important;
}