body {
	background-image: url("../images/background.jpg");
}

/*#question, #start, #display, #questionblock {
	p
	margin: auto;
    width: 50%;
    padding: 10px;
}

#display, #start {
	width: 250px;
	text-align: center;	
}*/